body{
    background-color: bisque;
}


 
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:15px 0px;
    
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding: 50px;
}
nav ul li{
    display: inline-block;
    margin: 30px 45px;
}
nav ul li a{
    text-decoration: none;
}


a{
    display: flex;
}


#container{
    padding-bottom: 10px 12px;
    height: 5px;
    display: contents;

}
#button{
    border:none;
    padding: -3px -12px;
    border-radius: 45px;
    color: aqua;
    font-weight: bold;
    justify-content: flex-end;
    jutsify-content:space-between;
    margin-top: -1%;
}
#span{
    color: aqua;
    padding-right: 15px;
}