body{
    background-color: whitesmoke;
}
.pie{
    /* align-items: flex-end;
    list-style:none ;
    display: flex; */
} 
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:15px 0px;
    margin-top: -8%;
    
}
nav ul{
    list-style: none;
    width: 98%;
    text-align: right;
    padding: 90px;
}
nav ul li{
    display: inline-block;
    margin: 30px 45px;
    list-style: none;
    padding-bottom: -29px;
    
}
nav ul li a{
    text-decoration: none;
    margin-top: 20%;;
    width: 40px;
}


/* a{
    display: flex;
} */


#container{
    padding-bottom: 10px 12px;
    height: 5px;
    display: contents;

}
#button{
    border:none;
    padding: -3px -12px;
    border-radius: 45px;
    color: aqua;
    font-weight: bold;
    justify-content: flex-end;
    jutsify-content:space-between;
    margin-top: -1%;
}
#span{
    /* color: aqua;
    padding-right: -25px;
    margin-top: -27%; */
}
.image{
    /* padding-left: -18px;
    justify-content: space-between;
    margin-top:23px ;
    /* display: flex; */
    /* height :600px ;
    width:580 px;
    display: flex;
    margin-top: -130px;
    margin-left:70%;
    padding-left: 2px; */ */

}